<center><h2> In-class Team Activity Part 2</h2></center>

In this part of today's activity, you're going to scrape tweets using the Tweepy library and Twitter API.

Download the TwitterCredentials.py file. One team member shoud complete the key information with their Twitter App information (the team member whose computer you are using as a team could volunteer to do this!)

In [2]:
import tweepy
import TwitterCredentials as keys
import numpy as np
import pandas as pd

* Then identify a public Twitter account as a team. 
* You will retrieve this account's tweets. For the purposes of this activity, getting 300 tweets should be enough.

* If you are stuck, you can scrape Northeastern President Aoun's tweets @PresidentAoun.
* Lastly, write the DataFrame to a CSV file

#### What to scrape:
* Scrape your selected user's 300 tweets, when they posted the tweet, and the list of hashtags included in the tweets. 
* Then store these in a DataFrame as follows:
    * Notice the hashtags are strings separated by commas.

In [33]:
df.head()

,Tweet,Time,Hashtags
0,A new #Amazon network will expand your control...,2019-10-03 00:58:23,"Amazon,cybersecurity"
1,From hidden to written. @Northeastern research...,2019-10-01 00:02:19,
2,A trailblazer in #Renaissance art had fallen i...,2019-09-28 00:57:43,Renaissance
3,Defining who is and isn’t a “swing” voter is a...,2019-09-27 01:34:26,
4,More than 100 global leaders convened at @Nort...,2019-09-26 00:54:23,

In [32]:
df.tail()

,Tweet,Time,Hashtags
295,Robots are getting smarter. What rights do we ...,2018-02-17 00:07:58,"AI,FutureOfWork"
296,"Congratulations to a great team and coach, on ...",2018-02-14 02:32:40,Beanpot
297,RT @Northeastern: .@GoNUmhockey presents the #...,2018-02-13 04:14:18,"Beanpot,GoNU"
298,Humans backing machines #AI @WIRED https://t....,2018-02-09 21:10:16,AI
299,What makes us uniquely human will make us robo...,2018-02-08 19:41:22,

In [3]:
twitter_pro = "https://twitter.com/elonmusk"

auth = tweepy.OAuthHandler("CONSUMER_KEY", "CONSUMER_SECRET")
auth.set_access_token("ACCESS_TOKEN", "ACCESS_TOKEN_SECRET")

#let the magic begin