In [3]:
num_list = []

for num in range(1,12):
    if not num%3 == 0:
        num_list.append(num)

In [4]:
num_list

[1, 2, 4, 5, 7, 8, 10, 11]

In [34]:
stu_dict = []

stu_dict = {"Harry":90, "Harmione":100, "Ron":86}

stu_dict

{'Harry': 90, 'Harmione': 100, 'Ron': 86}

In [35]:
if "Luna" in stu_dict:
    stu_dict["Luna"]
else:
    stu_dict["Luna"] = 75

In [36]:
stu_dict.pop("Luna")

75

In [37]:
stu_dict.get("Ron")

86

In [38]:
stu_dict.get("Luna")

In [39]:
stu_dict["Luna"] = stu_dict.get("Luna", 80)

In [40]:
stu_dict

{'Harry': 90, 'Harmione': 100, 'Ron': 86, 'Luna': 80}

In [43]:
stu_dict.items()

dict_items([('Harry', 90), ('Harmione', 100), ('Ron', 86), ('Luna', 80)])

In [50]:
for student, grade in stu_dict.items():
    stu_dict.items()

In [55]:
for student in stu_dict.keys():
    print(student)

Harry
Harmione
Ron
Luna

In [64]:
#in-class assignment

studen_dict = []

student_dict = {"Harry": [84, 89, 92]}

student_dict["Hermione"] = [100, 100, 99]

student_dict["Ron"] = [92, 89, 84]

student_dict

{'Harry': [84, 89, 92], 'Hermione': [100, 100, 99], 'Ron': [92, 89, 84]}

In [65]:
#in-class assignment

for student, grade in student_dict.items():
    student_total = sum(grade)
    student_ave = student_total / len(grade)
    print("Average for", student, ":", student_ave)

Average for Harry : 88.33333333333333
Average for Hermione : 99.66666666666667
Average for Ron : 88.33333333333333

In [71]:
#in-class assignment

t_avg = []

for student, grade in student_dict.items():
    student_t = sum(grade)
    student_avg = student_t / len(grade)
    t_avg.append(student_avg)

t_num = 0

for number in t_avg:
    t_num += number

print("Total average:", str(t_num/len(t_avg))+".")

Total average: 92.1111111111111.

In [72]:
import numpy as np

In [73]:
multi_num = np.array([[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]])

multi_num

array([[ 1,  3,  5,  7,  9],
       [ 2,  4,  6,  8, 10]])

In [74]:
float_num = np.array([0.1, 0.2, 0.3, 0.4, 0.5])
float_num

array([0.1, 0.2, 0.3, 0.4, 0.5])