In [19]:
print('Ken')

Ken

In [20]:
print("Ken")

Ken

In [21]:
name = input("what is your name? ")

what is your name? Ken

In [22]:
birth = input('When was Dumbledore born? ') #1881

When was Dumbledore born? 1881

In [23]:
death = input('When did Snape kill Dumbledore? ') #1997

When did Snape kill Dumbledore? 1997

In [24]:
type(birth)

str

In [25]:
type(death)

str

In [26]:
birthyear = int(birth)

In [27]:
deathyear = int(death)

In [28]:
dumby_age = deathyear - birthyear

In [29]:
print("When he was killed, Dumbledore was", dumby_age, "years old.")

When he was killed, Dumbledore was 116 years old.

In [33]:
uname = str(input("Your name: "))

Your name: Ken

In [34]:
ubirth = int(input("Your birthyear: "))

Your birthyear: 1997

In [35]:
currentyear = int(input("This year: "))

This year: 2019

In [41]:
uage = int(currentyear - ubirth)

In [47]:
print("This year, you are", uage, "years old,", uname + ".")

This year, you are 22 years old, Ken.

In [55]:
grade = 44

In [58]:
#Hogwarts Grading Scheme

if grade >= 90:
    print('Outstanding (O)')
elif grade >= 80:
    print('Exceeds Expectations (E)')
else:
    print('Troll (T)')

Troll (T)

In [59]:
num = 0

In [60]:
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Zero

In [65]:
i = 1
while i < 6:
    print(i, end = ' ')
    i += 1

1 2 3 4 5

In [74]:
for rnum in range(0,10,2):
    print(rnum, end=' ')

0 2 4 6 8

In [75]:
for rnum in range(0,10,3):
    print(rnum, end=' ')

0 3 6 9

In [76]:
for i in range(10,0,-2):
    print(i, end=' ')

10 8 6 4 2