<center> <h1> DS 3000 </h1> </center>
<center> <h1> Homework Assignment 2 </h1> </center>

<center> <h3> insert your full name here by double-clicking </h3></center>

Congrats! <br/>
You've survived the first week of your co-op and have already completed your first project. It turns out your supervisors have another project for you, as described below:

### What to do

* Carefully read the description.
* As you write your code for each question, please include comments. 
* Make sure you execute your code for each question and compare the output to the sample output provided.
* Refrain from using advanced Python capabilities that were not covered in class.
* When in doubt, ASK! Post a question on the Blackboard discussion forum for this homework assignment.
* Complete the assignment on your own

### What to submit
* When you are done with the assignment, save it.
* Download it as a Jupyter Notebook (DS3000_HW2.ipynb)
* Upload your downloaded Notebook to Google Colab (https://colab.research.google.com/notebooks/)
* Get a shareable link to your Notebook on Colab
    * Go to Share near the top-right corner of the screen.
    * Make sure you select Anyone with the Link Can View)
    * Copy the link
* Go to Blackboard
* **Upload your Jupyter Notebook through the Blackboard assignment dropbox link.**
* **Paste the link to you Colab Notebook in the Add Comments field.**
* You can submit multiple attempts. The last attempt will be graded.

<center> <h2> Part 1 </h2> </center>

In this part of the project, your supervisors would like you to continue working on the site visitors project. This time they provided the total number of visitors from each site for Monday through Friday. They would like you to process the data for further analysis in an upcoming project.

In [172]:
#execute this cell to import the key libraries you might need in this assignment
import numpy as np
import pandas as pd
import random

* For your convenience, a list of five weekdays is provided:

In [18]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

Following is a list of lists for the social media sites from which visitors arrive at your company's website. The lists contain the number of visitors on five days. 
* The list contains the numbers for Monday through Friday (in the same order).
    * e.g. facebook[0] is the total number of visitors arriving from Facebook on Monday.

In [14]:
facebook = [328, 347, 963, 226, 299]
google = [399, 998, 292, 837, 631]
instagram = [399, 998, 292, 837, 631]
tumblr = [198, 395, 105, 198, 260]
twitter = [666, 243, 373, 941, 615]
pinterest = [140, 341, 475, 291, 353]

### Question 1 (2pts)
Using the lists provided above, define a dictionary, sites_dict, 
* With the site names **Facebook, Google, Instagram, Tumblr, Twitter,** and **Pinterest** as keys and 
* the list of number of visitors per day as values.

In [173]:
#answer 1 goes here
sites_dict

In [16]:
sites_dict
#sample output

{'Facebook': [328, 347, 963, 226, 299],
 'Google': [399, 998, 292, 837, 631],
 'Instagram': [399, 998, 292, 837, 631],
 'Tumblr': [198, 395, 105, 198, 260],
 'Twitter': [666, 243, 373, 941, 615],
 'Pinterest': [140, 341, 475, 291, 353]}

### Question 2 (4pts)
Write a function that defines a DataFrame, **sites_df**, using the sites_dict dictionary above. 
* The output of the dataframe should match the output shown below:
    * With site names as row names and days as column names

In [144]:
def define_DF(dict_name):
    #answer 2 goes here

In [149]:
sites_df = define_DF(sites_dict)
sites_df
#sample output below

           Monday  Tuesday  Wednesday  Thursday  Friday
Facebook      328      347        963       226     299
Google        399      998        292       837     631
Instagram     399      998        292       837     631
Tumblr        198      395        105       198     260
Twitter       666      243        373       941     615
Pinterest     140      341        475       291     353

### Question 3 (3pts)
Write a function that lets your supervisors look up the number of visitors from all sites on a given day. 
* The name of the day will be provided as an argument.
* The function should display the output as shown below:

In [152]:
def get_numbers_for_single_day(day):
    
#answer 3 goes here

In [154]:
get_numbers_for_single_day("Tuesday")
#sample output below

           Tuesday
Facebook       347
Google         998
Instagram      998
Tumblr         395
Twitter        243
Pinterest      341

### Question 4 (3pts)
Your supervisors are very demanding! Now they would like to be able to view the number of visitors from a list of sites across the week. <br />Write a function that accepts a list of one or more site names and returns the number of visitors from the list of sites on all days.

* You can assume that a **list** will be provided as an argument to the function. See the sample function calls below.
* You can also assume that initials of days and site names will be correctly capitalized (no need to check for lowercase/uppercase days/site names)

In [82]:
def get_numbers_for_site(sites):
#answer 4 goes here

In [115]:
#sample function call 1
df = get_numbers_for_site(["Facebook"])
df

          Monday  Tuesday  Wednesday  Thursday  Friday
Facebook     328      347        963       226     299

In [88]:
#sample function call 2
df = get_numbers_for_site(["Facebook", "Pinterest"])
df

           Monday  Tuesday  Wednesday  Thursday  Friday
Facebook      328      347        963       226     299
Pinterest     140      341        475       291     353

In [116]:
#sample function call 3
df = get_numbers_for_site(["Google", "Instagram", "Tumblr"])
df

           Monday  Tuesday  Wednesday  Thursday  Friday
Google        399      998        292       837     631
Instagram     399      998        292       837     631
Tumblr        198      395        105       198     260

### Question 5 (4pts)
Write a function that displays the total number of visitors from all sites on each day.
* The function should use an iteration statement.
* Remember that each column in a DataFrame is actually a Series object.
* Use the **`sites_df`** DataFrame you defined above.

In [126]:
def total_visitors_daily():
#answer 5 goes here

In [128]:
total_visitors_daily()
#sample output below

Total number of visitors on Monday : 2130
Total number of visitors on Tuesday : 3322
Total number of visitors on Wednesday : 2500
Total number of visitors on Thursday : 3330
Total number of visitors on Friday : 2789

### Question 6 (3pts)
Write a function that displays the average daily number of visitors from a given site. 
* The site name will be provided as an argument.
* **Hint:** This function could use one of the functions you defined above.

In [121]:
def get_daily_ave_for_site(site):
#answer 6 goes here

In [122]:
get_daily_ave_for_site("Facebook")

The average daily number of visitors from Facebook is 432.6

<center> <h2> Part 2 </h2> </center>

In this part of the project, you are going to try to prove your supervisors wrong! For some reason, they like using **Python Lists** for pretty much everything. The other day you had an interesting discussion with them and told them about **NumPy arrays**. You told them arrays are much more efficient than lists, but they didn't really believe you and argued that their performances would be comparable. Your task is to see if you can convince them otherwise.

### Question 7 (5pts)
Write a function that **returns a list** of randomly generated 1,000,000 numbers in the range 60-100.
* The range values will be provided as arguments to the function.
* This function should use the built-in random number generation function in Python.

In [165]:
def get_number_list(lower_index, upper_index):
#answer 7 goes here

In [171]:
#sample function call
#the sum function is used to prevent displaying 1,000,000 numbers on your screen!
#avoid executing this line many times.

sum(get_number_list(60, 100))

397461964

### Question 8 (3pts)
Write another function that returns an array of randomly generated 1,000,000 numbers in the range 60-100. 
* Use NumPy's random number generation function for this question.
* The range values will be provided as arguments to the function.

In [167]:
def get_number_array(lower_index, upper_index):
#answer 8 goes here

In [ ]:
#sample function call
#the sum method is used to prevent displaying 1,000,000 numbers on your screen!
#avoid executing this line many times.

get_number_array(60, 100).sum()

### Question 9 (3pts)

Execute the following lines after completing and executing answers to the previous two questions.

In [ ]:
%timeit sum(get_number_list(60, 100))

In [ ]:
%timeit get_number_array(60, 100).sum()

Based on the results, which method of generating, storing, and summing integers is more efficient? Lists or Arrays? What would you tell your supervisors regarding the performance comparison? Were they right?

This is an open-ended question.
* **Write your response and justification below:**

answer 9 goes here