In [1]:
import pandas as pd
df = pd.read_csv("Sexual_Assault_Data.csv")
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,571533282,12/31/18,17:05:00,12/31/18,17:15:00,10,12/31/18,233,SEX CRIMES,175,...,M,NaN,40.742699,-73.998655,"(40.742699299, -73.99865538)",PATROL BORO MAN SOUTH,NaN,<18,WHITE,M
1,820453504,12/31/18,15:35:00,12/31/18,15:40:00,40,12/31/18,233,SEX CRIMES,175,...,NaN,NaN,40.810396,-73.925311,"(40.810396019, -73.925310745)",PATROL BORO BRONX,NaN,25-44,WHITE HISPANIC,F
2,113940766,12/31/18,4:30:00,12/31/18,4:50:00,49,12/31/18,233,SEX CRIMES,175,...,M,NaN,40.856163,-73.844397,"(40.856162957, -73.844397124)",PATROL BORO BRONX,NaN,18-24,WHITE HISPANIC,F
3,817554319,12/30/18,3:30:00,12/30/18,3:45:00,34,12/30/18,233,SEX CRIMES,175,...,M,3.0,40.851488,-73.935458,"(40.851487774, -73.935457967)",PATROL BORO MAN NORTH,207 ST.-INWOOD,25-44,UNKNOWN,M
4,726764710,12/30/18,18:45:00,12/30/18,19:00:00,120,12/30/18,233,SEX CRIMES,175,...,NaN,NaN,40.644726,-74.077483,"(40.644726131, -74.077483159)",PATROL BORO STATEN ISLAND,NaN,25-44,ASIAN / PACIFIC ISLANDER,F

In [2]:
df = df.drop(columns = ["PD_CD", "PARKS_NM", "HADEVELOPT", "HOUSING_PSA"])

In [3]:
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_DESC,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,571533282,12/31/18,17:05:00,12/31/18,17:15:00,10,12/31/18,233,SEX CRIMES,"SEXUAL ABUSE 3,2",...,M,NaN,40.742699,-73.998655,"(40.742699299, -73.99865538)",PATROL BORO MAN SOUTH,NaN,<18,WHITE,M
1,820453504,12/31/18,15:35:00,12/31/18,15:40:00,40,12/31/18,233,SEX CRIMES,"SEXUAL ABUSE 3,2",...,NaN,NaN,40.810396,-73.925311,"(40.810396019, -73.925310745)",PATROL BORO BRONX,NaN,25-44,WHITE HISPANIC,F
2,113940766,12/31/18,4:30:00,12/31/18,4:50:00,49,12/31/18,233,SEX CRIMES,"SEXUAL ABUSE 3,2",...,M,NaN,40.856163,-73.844397,"(40.856162957, -73.844397124)",PATROL BORO BRONX,NaN,18-24,WHITE HISPANIC,F
3,817554319,12/30/18,3:30:00,12/30/18,3:45:00,34,12/30/18,233,SEX CRIMES,"SEXUAL ABUSE 3,2",...,M,3.0,40.851488,-73.935458,"(40.851487774, -73.935457967)",PATROL BORO MAN NORTH,207 ST.-INWOOD,25-44,UNKNOWN,M
4,726764710,12/30/18,18:45:00,12/30/18,19:00:00,120,12/30/18,233,SEX CRIMES,"SEXUAL ABUSE 3,2",...,NaN,NaN,40.644726,-74.077483,"(40.644726131, -74.077483159)",PATROL BORO STATEN ISLAND,NaN,25-44,ASIAN / PACIFIC ISLANDER,F

In [4]:
df.PD_DESC

0                    SEXUAL ABUSE 3,2
1                    SEXUAL ABUSE 3,2
2                    SEXUAL ABUSE 3,2
3                    SEXUAL ABUSE 3,2
4                    SEXUAL ABUSE 3,2
5                        SEXUAL ABUSE
6                    SEXUAL ABUSE 3,2
7                    SEXUAL ABUSE 3,2
8                        SEXUAL ABUSE
9                    SEXUAL ABUSE 3,2
10                   SEXUAL ABUSE 3,2
11                   SEXUAL ABUSE 3,2
12                   SEXUAL ABUSE 3,2
13                   SEXUAL ABUSE 3,2
14                   SEXUAL ABUSE 3,2
15                   SEXUAL ABUSE 3,2
16                   SEXUAL ABUSE 3,2
17                   SEXUAL ABUSE 3,2
18                   SEXUAL ABUSE 3,2
19                   SEXUAL ABUSE 3,2
20                   SEXUAL ABUSE 3,2
21                   SEXUAL ABUSE 3,2
22                       SEXUAL ABUSE
23      SEXUAL MISCONDUCT,INTERCOURSE
24                       SEXUAL ABUSE
25                   SEXUAL ABUSE 3,2
26                       SEXUAL ABUSE
27                       SEXUAL ABUSE
28                       SEXUAL ABUSE
29                       SEXUAL ABUSE
                    ...
8743                 SEXUAL ABUSE 3,2
8744                 SEXUAL ABUSE 3,2
8745                 SEXUAL ABUSE 3,2
8746                 SEXUAL ABUSE 3,2
8747                     SEXUAL ABUSE
8748                 SEXUAL ABUSE 3,2
8749                 SEXUAL ABUSE 3,2
8750                 SEXUAL ABUSE 3,2
8751                 SEXUAL ABUSE 3,2
8752                     SEXUAL ABUSE
8753                     SEXUAL ABUSE
8754                 SEXUAL ABUSE 3,2
8755                 SEXUAL ABUSE 3,2
8756                 SEXUAL ABUSE 3,2
8757                 SEXUAL ABUSE 3,2
8758    SEXUAL MISCONDUCT,INTERCOURSE
8759                 SEXUAL ABUSE 3,2
8760                 SEXUAL ABUSE 3,2
8761                 SEXUAL ABUSE 3,2
8762                 SEXUAL ABUSE 3,2
8763                 SEXUAL ABUSE 3,2
8764                 SEXUAL ABUSE 3,2
8765                     SEXUAL ABUSE
8766                 SEXUAL ABUSE 3,2
8767                 SEXUAL ABUSE 3,2
8768                 SEXUAL ABUSE 3,2
8769                 SEXUAL ABUSE 3,2
8770    SEXUAL MISCONDUCT,INTERCOURSE
8771                 SEXUAL ABUSE 3,2
8772                 SEXUAL ABUSE 3,2
Name: PD_DESC, Length: 8773, dtype: object