<center> <img src="res/ds3000.png"> </center>

<center> <h1> Week 6 - Day 2 </h1> </center>

<center> <h2> Part 3: Data Aggregation </h2></center>

## Outline
1. <a href='#1'>Data Aggregation Using GroupBy</a>
2. <a href='#2'>Iterating through a GroupBy Object</a>
3. <a href='#3'>Grouping by Index Levels</a>
4. <a href='#4'>Grouping by Multiple Indices</a>
5. <a href='#5'>Aggregation Methods for GroupBy Objects</a>

<a id="1"></a>

## 1. Data Aggregation Using GroupBy

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Day 2_res_ave_grades.csv")

In [3]:
df

              Student       House  Potion_Ave  Charm_Ave
0    Hermione Granger  Gryffindor       100.0      100.0
1   Anthony Goldstein   Ravenclaw        89.0       87.0
2        Harry Potter  Gryffindor        88.0       90.0
3         Lisa Turpin   Ravenclaw        86.5       84.0
4      Michael Corner   Ravenclaw        85.5       86.5
5        Draco Malfoy   Slytherin        84.5       81.0
6         Susan Bones  Hufflepuff        84.0       83.5
7         Ron Weasley  Gryffindor        83.0       87.5
8       Hannah Abbott  Hufflepuff        80.5       84.5
9     Ernie Macmillan  Hufflepuff        77.5       85.0
10      Gregory Goyle   Slytherin        66.5       59.5
11     Vincent Crabbe   Slytherin        64.0       60.0

In [4]:
df = df.set_index(["House", "Student"])

In [5]:
df.loc["Gryffindor"].mean()

Potion_Ave    90.333333
Charm_Ave     92.500000
dtype: float64

### 1.1. groupby() method
* **groupby()** method aggregates DataFrame rows by a column
    * Returns an iterable GroupBy object that stores the data aggregated according to the grouping column

In [6]:
df.groupby("House")

In [7]:
df.groupby("House").mean()

            Potion_Ave  Charm_Ave
House
Gryffindor   90.333333  92.500000
Hufflepuff   80.666667  84.333333
Ravenclaw    87.000000  85.833333
Slytherin    71.666667  66.833333

In [8]:
pd.set_option("precision", 2)

### 1.2. Indexing a GroupBy Object
* Similar to indexing a column in a DataFrame

In [9]:
df.groupby("House")["Potion_Ave"].mean()

House
Gryffindor    90.33
Hufflepuff    80.67
Ravenclaw     87.00
Slytherin     71.67
Name: Potion_Ave, dtype: float64

<a id="2"></a>

## 2. Iterating through a GroupBy Object
* groupby() returns an iterable sequence of 2-tuples containing 
    * the group name and 
    * the segment of the dataframe corresponding to that group

In [10]:
for house, frame in df.groupby("House"):
    print(frame)
    print("\n")

                             Potion_Ave  Charm_Ave
House      Student
Gryffindor Hermione Granger       100.0      100.0
           Harry Potter            88.0       90.0
           Ron Weasley             83.0       87.5


                            Potion_Ave  Charm_Ave
House      Student
Hufflepuff Susan Bones            84.0       83.5
           Hannah Abbott          80.5       84.5
           Ernie Macmillan        77.5       85.0


                             Potion_Ave  Charm_Ave
House     Student
Ravenclaw Anthony Goldstein        89.0       87.0
          Lisa Turpin              86.5       84.0
          Michael Corner           85.5       86.5


                          Potion_Ave  Charm_Ave
House     Student
Slytherin Draco Malfoy          84.5       81.0
          Gregory Goyle         66.5       59.5
          Vincent Crabbe        64.0       60.0

In [11]:
for house, frame in df.groupby("House"):
    print(house)
    print("\tPotions Ave: ", frame["Potion_Ave"].mean())
    print("\tCharms Ave: ", frame["Charm_Ave"].mean())
    print("\n")

Gryffindor
	Potions Ave:  90.33333333333333
	Charms Ave:  92.5


Hufflepuff
	Potions Ave:  80.66666666666667
	Charms Ave:  84.33333333333333


Ravenclaw
	Potions Ave:  87.0
	Charms Ave:  85.83333333333333


Slytherin
	Potions Ave:  71.66666666666667
	Charms Ave:  66.83333333333333

In [12]:
df

                              Potion_Ave  Charm_Ave
House      Student
Gryffindor Hermione Granger        100.0      100.0
Ravenclaw  Anthony Goldstein        89.0       87.0
Gryffindor Harry Potter             88.0       90.0
Ravenclaw  Lisa Turpin              86.5       84.0
           Michael Corner           85.5       86.5
Slytherin  Draco Malfoy             84.5       81.0
Hufflepuff Susan Bones              84.0       83.5
Gryffindor Ron Weasley              83.0       87.5
Hufflepuff Hannah Abbott            80.5       84.5
           Ernie Macmillan          77.5       85.0
Slytherin  Gregory Goyle            66.5       59.5
           Vincent Crabbe           64.0       60.0

<a id="3"></a>

## 3. Grouping by Index Levels
* For hierarchically indexed dataframes, it is possible to aggregate using ofe the levels of an axis index.
* Specify the index name, or level name, using the **level** keyword.

In [13]:
df

                              Potion_Ave  Charm_Ave
House      Student
Gryffindor Hermione Granger        100.0      100.0
Ravenclaw  Anthony Goldstein        89.0       87.0
Gryffindor Harry Potter             88.0       90.0
Ravenclaw  Lisa Turpin              86.5       84.0
           Michael Corner           85.5       86.5
Slytherin  Draco Malfoy             84.5       81.0
Hufflepuff Susan Bones              84.0       83.5
Gryffindor Ron Weasley              83.0       87.5
Hufflepuff Hannah Abbott            80.5       84.5
           Ernie Macmillan          77.5       85.0
Slytherin  Gregory Goyle            66.5       59.5
           Vincent Crabbe           64.0       60.0

In [14]:
df.groupby(level = "House").mean()

            Potion_Ave  Charm_Ave
House
Gryffindor       90.33      92.50
Hufflepuff       80.67      84.33
Ravenclaw        87.00      85.83
Slytherin        71.67      66.83

<a id="4"></a>

## 4. Grouping by Multiple Indices
* Can group a dataframe by multiple columns

In [18]:
df_player = pd.read_csv("Day 2_res_ave_grades_quidditch.csv")

In [19]:
df_player.sort_values(by="House")

               Student       House Quidditch  Potion_Ave  Charm_Ave
0     Hermione Granger  Gryffindor        No       100.0      100.0
2         Harry Potter  Gryffindor       Yes        88.0       90.0
7          Ron Weasley  Gryffindor       Yes        83.0       87.5
12  Neville Longbottom  Gryffindor        No        60.0       65.0
6          Susan Bones  Hufflepuff       Yes        84.0       83.5
8        Hannah Abbott  Hufflepuff        No        80.5       84.5
9      Ernie Macmillan  Hufflepuff       Yes        77.5       85.0
14         Megan Jones  Hufflepuff        No        81.0       80.0
1    Anthony Goldstein   Ravenclaw       Yes        89.0       87.0
3          Lisa Turpin   Ravenclaw        No        86.5       84.0
4       Michael Corner   Ravenclaw       Yes        85.5       86.5
15         Padma Patil   Ravenclaw        No        85.0       91.0
5         Draco Malfoy   Slytherin       Yes        84.5       81.0
10       Gregory Goyle   Slytherin        No        66.5       59.5
11      Vincent Crabbe   Slytherin       Yes        64.0       60.0
13     Pansy Parkinson   Slytherin        No        72.0       71.0

In [20]:
grouped_df = df_player.groupby(["House", "Quidditch"])

In [21]:
grouped_df.mean()

                      Potion_Ave  Charm_Ave
House      Quidditch
Gryffindor No              80.00      82.50
           Yes             85.50      88.75
Hufflepuff No              80.75      82.25
           Yes             80.75      84.25
Ravenclaw  No              85.75      87.50
           Yes             87.25      86.75
Slytherin  No              69.25      65.25
           Yes             74.25      70.50

<a id="5"></a>

  
## 5. Aggregation Methods for GroupBy Objects
* Can call aggregation methods on GroupBy objects using the **agg()** method
* **groupby_object.agg(["list of aggregation methods"])**

In [22]:
grouped_df.agg("mean")

                      Potion_Ave  Charm_Ave
House      Quidditch
Gryffindor No              80.00      82.50
           Yes             85.50      88.75
Hufflepuff No              80.75      82.25
           Yes             80.75      84.25
Ravenclaw  No              85.75      87.50
           Yes             87.25      86.75
Slytherin  No              69.25      65.25
           Yes             74.25      70.50

In [23]:
grouped_df.agg(["count", "mean", "std"])

                     Potion_Ave               Charm_Ave
                          count   mean    std     count   mean    std
House      Quidditch
Gryffindor No                 2  80.00  28.28         2  82.50  24.75
           Yes                2  85.50   3.54         2  88.75   1.77
Hufflepuff No                 2  80.75   0.35         2  82.25   3.18
           Yes                2  80.75   4.60         2  84.25   1.06
Ravenclaw  No                 2  85.75   1.06         2  87.50   4.95
           Yes                2  87.25   2.47         2  86.75   0.35
Slytherin  No                 2  69.25   3.89         2  65.25   8.13
           Yes                2  74.25  14.50         2  70.50  14.85

#### How would you modify the previous code snippet to get the same stats, count, mean, std, for Quidditch players vs. non-players

In [24]:
df_player.groupby("Quidditch").agg(["count", "mean", "std"])

          Potion_Ave               Charm_Ave
               count   mean    std     count   mean    std
Quidditch
No                 8  78.94  12.57         8  79.38  13.52
Yes                8  81.94   8.04         8  82.56   9.51

### 5.1. Custom Aggregation Functions
* Can define and apply your custom functions to DataFrame rows/columns using the **agg()** method

In [25]:
def letter_grade (grade):
    '''simple function that takes a Series object containing grades and 
    returns the letter grade for the average of these grades
    '''
    if grade.mean() > 80:
        return "B"
    else:
        return "C+"

In [26]:
df_player.groupby("House").agg(letter_grade)

           Potion_Ave Charm_Ave
House
Gryffindor          B         B
Hufflepuff          B         B
Ravenclaw           B         B
Slytherin          C+        C+

In [27]:
df_player.groupby("Quidditch").agg(["count", "mean", "std", letter_grade])

          Potion_Ave                            Charm_Ave                \
               count   mean    std letter_grade     count   mean    std
Quidditch
No                 8  78.94  12.57           C+         8  79.38  13.52
Yes                8  81.94   8.04            B         8  82.56   9.51


          letter_grade
Quidditch
No                  C+
Yes                  B

### 5.2. Applying Different Functions to Different Columns
* Pass in a dictionary of column names and function names

In [28]:
def pass_fail_grade (grade):
    '''simple function that takes a Series object containing grades and 
    returns the letter grade for the average of these grades
    '''
    if grade.mean() > 65:
        return "Pass"
    else:
        return "Fail"

In [29]:
df_player.groupby(["House", "Quidditch"]).agg({"Potion_Ave": letter_grade, "Charm_Ave": pass_fail_grade})

                     Potion_Ave Charm_Ave
House      Quidditch
Gryffindor No                C+      Pass
           Yes                B      Pass
Hufflepuff No                 B      Pass
           Yes                B      Pass
Ravenclaw  No                 B      Pass
           Yes                B      Pass
Slytherin  No                C+      Pass
           Yes               C+      Pass