In [5]:
def square(number):
    "calculates the number" #docstring
    return number * number

In [6]:
square(5)

25

In [17]:
print("The square of 5 is", str(square(5)) + ".")

The square of 5 is 25.

In [12]:
def product(a, b):
    result = a * b
    return result

In [13]:
x = product(2, 5)
print(x)

10

In [14]:
def product(a, b, c):
    result2 = a * b * c
    return result2

In [15]:
x2 = product(5, 6, 10)
print(x2)

300

In [18]:
def product(a, b, c=1):
    return a * b * c

In [19]:
product(1, 2, 3)

6

In [20]:
product(1, 2)

2

In [21]:
product(1, 2, "Caglar")

'CaglarCaglar'

In [35]:
product(1, 2, "Ken")

'KenKen'

In [41]:
numbers = [1, 2, 3]
numbers += [1, 2, 3]
numbers

[1, 2, 3, 1, 2, 3]

In [43]:
numbers2 = list(range(1,6))
numbers2

[1, 2, 3, 4, 5]

In [49]:
c = [-45, 6, 0, 75, 1543]
print(c)
len(c)

[-45, 6, 0, 75, 1543]

5

In [50]:
c[2] = 29 #changes third element
c

[-45, 6, 29, 75, 1543]

In [51]:
text = "Lux, Veritas, Virtus"

In [59]:
student_list = ["Harry", "Harmione", "Ron", "Ginny", "Neville", "Luna"]

for student in student_list:
    print(student)

Harry
Harmione
Ron
Ginny
Neville
Luna

In [60]:
for i in range(len(student_list)):
    print(i, ":", student_list[i])

0 : Harry
1 : Harmione
2 : Ron
3 : Ginny
4 : Neville
5 : Luna

In [61]:
student_list[1:5]

['Harmione', 'Ron', 'Ginny', 'Neville']

In [63]:
student_list[2:4]

['Ron', 'Ginny']

In [66]:
student_list[:3] #slice from beginning and stopping before 3rd element

['Harry', 'Harmione', 'Ron']

In [67]:
student_list[0:3]

['Harry', 'Harmione', 'Ron']

In [70]:
student_list[3:] #slice from 4th element and stopping at the last

['Ginny', 'Neville', 'Luna']

In [71]:
student_list[3:6]

['Ginny', 'Neville', 'Luna']

In [72]:
student_list[:]

['Harry', 'Harmione', 'Ron', 'Ginny', 'Neville', 'Luna']

In [73]:
student_list

['Harry', 'Harmione', 'Ron', 'Ginny', 'Neville', 'Luna']

In [74]:
student_list[::2]

['Harry', 'Ron', 'Neville']

In [75]:
student_list[1::2]

['Harmione', 'Ginny', 'Luna']

In [77]:
student_list[::-1] #returns new list, does not change original

['Luna', 'Neville', 'Ginny', 'Ron', 'Harmione', 'Harry']

In [78]:
student_list[-1:-4:-1]

['Luna', 'Neville', 'Ginny']

In [79]:
student_list.append("Fred")

In [80]:
student_list

['Harry', 'Harmione', 'Ron', 'Ginny', 'Neville', 'Luna', 'Fred']

In [81]:
student_list.sort()

In [82]:
student_list

['Fred', 'Ginny', 'Harmione', 'Harry', 'Luna', 'Neville', 'Ron']

In [83]:
student_list.append("fred")

In [84]:
student_list.sort()

In [85]:
student_list

['Fred', 'Ginny', 'Harmione', 'Harry', 'Luna', 'Neville', 'Ron', 'fred']

In [86]:
numbers.sort(reverse=True)

In [87]:
numbers

[3, 3, 2, 2, 1, 1]

In [88]:
numbersy = [4, 42, 1998, 58, 15, 3, 1, 100]

In [89]:
descending_numbers = sorted(numbers, reverse=True)

In [90]:
descending_numbers

[3, 3, 2, 2, 1, 1]

In [91]:
numbers

[3, 3, 2, 2, 1, 1]

In [93]:
descending_numbers2 = sorted(numbersy, reverse=True)

In [94]:
descending_numbers2

[1998, 100, 58, 42, 15, 4, 3, 1]

In [95]:
numbersy

[4, 42, 1998, 58, 15, 3, 1, 100]

In [96]:
grades = [100, 92, 45, 100]

In [97]:
min(grades)

45

In [98]:
max(grades)

100